<div class="container">
	<div class="row">
		<div class="col-sm">
			<button (click)="initNewModule()">Init New Module</button>
		</div>
		<div class="col-sm">
			<button (click)="save()">Save</button>
		</div>
		<div class="col-sm">
			<button type="button" (click)="addModule()">Add module</button>
		</div>
		<div class="col-sm">
			<select class="form-control" (change)="onSelectModule($event)">
				<option *ngFor="let m of modules" [value]="m.uuid">{{m.simpleName+'|'+m.uuid}}</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<button (click)="addLink()">Add link</button>
		</div>
		<div class="col-sm">
			<span>From</span> <select class="form-control"  [(ngModel)]="linkFrom"
				>
				<option selected>Select link from ...</option>
				<option *ngFor="let m of moduleComponent.model.nodes"
					[ngValue]="m">{{m.simpleName+'|'+m.uuid+'|'+m.index}}</option>
			</select>
		</div>
		<div class="col-sm">
			<span>To</span> <select class="form-control" [(ngModel)]="linkTo"
				>
				<option selected>Select link to ...</option>
				<option *ngFor="let m of moduleComponent.model.nodes"
					[ngValue]="m">{{m.simpleName+'|'+m.uuid+'|'+m.index}}</option>
			</select>
		</div>
		<div class="col-sm">
			<button (click)="compose()">Compose</button>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<span>Entry node</span> <select class="form-control"
				(change)="setEntryNode($event)">
				<option selected>Select entry node ...</option>
				<option *ngFor="let m of moduleComponent.model.nodes"
					[value]="m.uuid">{{m.simpleName+'|'+m.uuid+'|'+m.index}}</option>
			</select>
		</div>
		<div class="col-sm">
			<span>Output node</span> <select class="form-control" 
				(change)="setOutputNode($event)">
				<option selected>Select output node ...</option>
				<option *ngFor="let m of moduleComponent.model.nodes"
					[value]="m.uuid">{{m.simpleName+'|'+m.uuid+'|'+m.index}}</option>
			</select>
		</div>
	</div>

</div>